.mood-container {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.mood-container:hover {
    background-color: lightblue;
}

.icon-container {
    float: left;
    width: 25%;
    text-align: center;
}

.icon-container img {
    height: 3em;
    width: 3em;
}

.rating-container {
    float: right;
    width: 70%;
    text-align: right;
}

.mood-rating {
    display: inline-block;
    margin-right: 3em;
}

.seperator {
    width: 100%;
    clear: both;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}